body {
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 20px;
  color: var(--color-light);
  background-color: var(--color-dark);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 55px;
}

h3 {
  font-size: 24px;
}