:root {
  --color-dark: #0E0E0E;
  --color-dark-alt: #0D0D0D;
  --color-light: #E2E2E2;
  --color-yellow: #F9C651;
  --color-yellow-alt: #FFB21A;
  --color-green: #8EEA77;
  --color-red: #FF4646;
  --color-blue: #0B0F15;
  --color-gray: #383638;

  --border-radius-large: 50px;
  --border-radius-medium: 30px;
  --border-radius-button: 24px;
  --border-radius-small: 20px;
  --border-radius-smallest: 16px;

  --border: 1px solid var(--color-light);

  --container-width: 1240px;
  --container-padding-x: 24px;

  --section-padding-y: 75px;

  --font-family-base: 'Quicksand', sans-serif;
  --font-family-add: 'Nunito', sans-serif;

  --transition-duration: .2s;
}